html, body{
	margin:0;
	padding:0;
}
body{
	background-color: #3D3D3D;
	font-family: 'Source Sans Pro', sans;
	min-width:1030px;
}
#blog{
	display: inline-block;
	font-size: 24px;
	color: #575757;
	position: relative;
	top: -16px;
	vertical-align: middle;
	text-decoration: none;
}
#header{
	padding:30px 50px;
	text-align: center;
	background-color: #ececec;
}
#menu{
	display:inline-block;
	margin-left:100px;
	position: relative;
	 top: -10px;

}
#menu a{
	color: #444444;
	font-size: 22px;
	text-decoration: none;
	/*font-weight: bold;*/
	margin-right:25px;
	/*background-color: #f8f7f7;*/
	border-radius: 5px;
	padding:5px 10px;
}
#menu a:hover{
	background-color: #e1e0e0;
}
#wrap2{
	width:100%;
	height:auto;
	display:inline-block;
	background-color: #ececec;
	padding-bottom: 20px;
}
#wrapper{
	width:900px;
	margin:0 auto;
	position:relative;
	top:20px;
}
#content, #right{
	float:left;
}
#content{
	width:880px;
	margin-right:20px;
}
#content .post{
	width:880px;
	margin-bottom:30px;
	line-height:32px;
}
.post .leftpost{
	float:left;
	width:80px;
	margin-right:20px;
	height:100%;
	position:relative;
}
.post .pcontent{
	width: 760px;
	color:#2e2e2e;
	padding-left:120px;
}
.pcontent img{
	float: left;
	margin-right: 15px;
	/*margin-bottom: 15px;*/
}
.post .pcc:after{
	content:"\20";
	background: -moz-linear-gradient(top, rgba(236,236,236,0) 0%, rgba(236,236,236,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,236,236,0)), color-stop(100%,rgba(236,236,236,1)));
	background: -webkit-linear-gradient(top, rgba(236,236,236,0) 0%,rgba(236,236,236,1) 100%);
	background: -o-linear-gradient(top, rgba(236,236,236,0) 0%,rgba(236,236,236,1) 100%);
	background: -ms-linear-gradient(top, rgba(236,236,236,0) 0%,rgba(236,236,236,1) 100%);
	background: linear-gradient(to bottom, rgba(236,236,236,0) 0%,rgba(236,236,236,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ececec', endColorstr='#ececec',GradientType=0 );
	position:absolute;
	top:0px;
	left: 0px;
	margin-top:470px;
	height:30px;
	width:100%;
}
.post .pcc{
	font-size: 18px;
	margin-left: 20px;
	margin-top: 10px;
	max-height: 500px;
	overflow: hidden;
	text-overflow: ellipsis;
	position:relative;
}
.pcontent > a {
	text-decoration: none;
}
.post .title{
	margin: 0;
	font-size:28px;
	font-weight: bold;
	color:#2e2e2e;
	text-decoration: none;
}
.post .title:hover{
	color:#555;
}
.post .pdate{
	width:80px;
	height:80px;
	background-color: #2e2e2e;
	position: relative;
	line-height: initial;
}
.pcc pre{
	overflow-x:scroll;
}
.pcc a{
	color:#596EA5;
}
.pcc a:hover{
	color:#6B87D0;
}
.pcc pre.prettyprint{
	font-size: 15px;
	border:none;
}
.post .pdate:hover{
	background-color: #555;
}
.pdate span{
	position: absolute;
	bottom: -8px;
	display: inline-block;
	color: #ececec;
	font-weight: bold;
	vertical-align: bottom;
}
.ptag{
	width: 61px;
	margin-left: 15px;
	height: 15px;
	background-color: #2e2e2e;
	text-transform: uppercase;
	color: #efefef;
	font-size: 13px;
	margin-top: 13px;
	padding-top: 6px;
	padding-left: 4px;
	text-align: right;
	text-decoration: none;
	display: block;
	line-height: initial;
}
.ptag:hover{
	background-color: #555;
}
.pdate1{
	left: -1px;
	font-size: 36px;
}
.pdate2{
	right: 0px;
	font-size: 22px;
	margin-bottom: 4px;
}
.post .pfull{
	width:100%;
	text-align: center;
}
.post .pfull a{
	color: #5A5A5A;
	text-decoration: none;
	display: inline-block;
	width: 265px;
	border-top: 1px solid #848484;
	margin-top: 15px;
	padding-top: 8px;
	font-style: italic;
	font-weight: bold;
	-webkit-transition:padding .2s, margin .5s;
	transition:padding .2s, margin .5s;
}
.post .pfull a:hover{
	color:#3a3a3a;
	padding-top:11px;
	margin-top: 17px;
}
.pcomments{
	margin-top: 15px;
}
.pimgcenter{
	text-align: center; position: relative; display: inline-block; width: 100%;	
}
.pimgcenter img{
	margin-bottom: 20px; width: 600px; float: none;
}
.fb-share-button{
	float: left;
	margin-left: 10px;
	margin-right: 15px;
	line-height: initial;
}
#right{
	width: 250px;
	color:#2e2e2e;
	margin-bottom: 20px;
}
#right .category{
	font-size:18px;
	font-weight:bold;

}
#right .tab{
	margin-top:20px;
	padding-left:15px;
}
#right .tab a{
	width:235px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	color:#2e2e2e;
	margin-bottom:8px;
	font-size:16px;
}
#right .tab a.ilink{
	float: left;
	width:inherit;
	margin-left:50px;
	text-align:center;
}
#footer{
	width: 100%;
	display: block;
	float: left;
	clear: both;
	background-color: #3D3D3D;
}
#fhigh{
	text-align: center;
	color: #fff;
	font-size: 20px;
	padding: 12px;
	background-color: #272727;
	letter-spacing: 3px;
}
#flow{
	padding-top: 5px;
	width: 100%;
	position: relative;
	height: 23px;
}
#flow > div{
	position:relative;
	float:left;
	color:#ddd;
	font-size:14px;
}
#flow > #fleft{
	left: 20px;
}
#flow > #fright{
	position:absolute;
	right:20px;
}
#flow > #fcenter{
	position: absolute;
	left:50%;
	margin-left:-10px;
	font-family:'Lato', sans;
	font-weight:300;
}
#footer a{
	color:#fff;
	text-decoration:none;
}
#footer a:hover{
	color:#EAAE8A;
}