---
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Juan Camilo Osorio's Blog</title>
	<link rel="stylesheet" href="/stylesheets/blog.css">
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
</head>
<body>
	<div id="header">
		<a href="//jcoc611.com/"><img src="/images/JCOC611.png" title="Go to Home." alt="Juan Camilo Osorio's Blog Logo"></a>
		<a id="blog" href="/">| Blog</a>
		<h1 style="display:none">Juan Camilo Osorio's Blog</h1>
		<div id="menu">
			{%if page.categoryvalue == "web" %}
			<a style="background-color:#fff" href="/web">Web</a>
			{% else %}
			<a href="/web">Web</a>
			{% endif %}
			{%if page.categoryvalue == "thought" %}
			<a style="background-color:#fff" href="/thought">Thought</a>
			{% else %}
			<a href="/thought">Thought</a>
			{% endif %}
			{%if page.categoryvalue == "code" %}
			<a style="background-color:#fff" href="/code">Code</a>
			{% else %}
			<a href="/code">Code</a>
			{% endif %}
			{%if page.categoryvalue == "slog" %}
			<a style="background-color:#fff" href="/slog" title="Logs of interesting pieces of code or events that are happening in the Computer Science program at The University of Toronto.">sLOG</a>
			{% else %}
			<a href="/slog" title="Logs of interesting pieces of code or events that are happening in the Computer Science program at The University of Toronto.">sLOG</a>
			{% endif %}
			{%if page.categoryvalue == "other" %}
			<a style="background-color:#fff" href="/other">Other</a>
			{% else %}
			<a href="/other">Other</a>
			{% endif %}
		</div>
	</div>
	<div id="wrapper">
		<div id="content">
			{% for post in site.categories[page.categoryvalue] limit:5 %}
			<div class="post">
				<div class="leftpost">
					<a href="{{ post.url }}"><div class="pdate"  title='{{ post.date | date: "%B %-d, %Y" }}'>
						<span class="pdate1">{{ post.date | date: "%d" }}</span>
						<span class="pdate2">
							{% assign m = post.date | date: "%-m" %}
							{% case m %}
								{% when '1' %}Jan
								{% when '2' %}Feb
								{% when '3' %}Mar
								{% when '4' %}Apr
								{% when '5' %}May
								{% when '6' %}Jun
								{% when '7' %}Jul
								{% when '8' %}Aug
								{% when '9' %}Sep
								{% when '10' %}Oct
								{% when '11' %}Nov
								{% when '12' %}Dec
							{% endcase %}
						</span>
					</div></a>
					<a href="/{{ post.category }}" title="View more posts on {{ post.category }}" class="ptag">{{ post.category }}</a>
				</div>
				<div class="pcontent">
					<a href="{{ post.url }}"><div class="title">{{ post.title }}</div></a>
					<div class="pcc">
						{{ post.content }}
					</div>
					<div class="pfull">
						<a class="pfull" href="{{ post.url }}">View post and comment</a>
					</div>
				</div>
			</div>
			{% endfor %}
			{% if site.categories[page.categoryvalue] == null %}
			There are no posts to show.
			{% endif %}
		</div>
		<div id="right">
			<div class="category">Recent posts</div>
			<div class="tab">
				<a href="#" title="This is some text for the title of a post">This is some text for the title of a post</a><br/>
				<a href="#" title="This is some text for the title of a post">This is some text for the title of a post</a><br/>
				<a href="#" title="This is some text for the title of a post">This is some text for the title of a post</a><br/>
			</div>
			<br/><br/>
			<div class="category">Follow me</div>
			<div class="tab">
				<a class="ilink" href="{{ site.url }}/feed.xml"><img src="/images/rss.png" alt=""></a>
				<a class="ilink" href="https://twitter.com/jcoc611"><img src="/images/twitter.png" alt=""></a>
			</div>	
		</div>
	</div>
</body>
</html>