---
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Juan Camilo Osorio's Blog</title>
	<link rel="apple-touch-icon" sizes="57x57" href="//static.jcoc611.com/wcon/icons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="//static.jcoc611.com/wcon/icons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="//static.jcoc611.com/wcon/icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="//static.jcoc611.com/wcon/icons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="//static.jcoc611.com/wcon/icons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="//static.jcoc611.com/wcon/icons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="//static.jcoc611.com/wcon/icons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="//static.jcoc611.com/wcon/icons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="//static.jcoc611.com/wcon/icons/apple-touch-icon-180x180.png">
	<meta name="apple-mobile-web-app-title" content="JCOC611 Blog">
	<link rel="icon" type="image/png" href="//static.jcoc611.com/wcon/icons/favicon-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="//static.jcoc611.com/wcon/icons/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="//static.jcoc611.com/wcon/icons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="//static.jcoc611.com/wcon/icons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="//static.jcoc611.com/wcon/icons/favicon-32x32.png" sizes="32x32">
	<link rel="stylesheet" href="/stylesheets/blog.css">
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
</head>
<body>
	<div id="header">
		<a href="//jcoc611.com/"><img src="/images/JCOC611.png" title="Go to Home." alt="Juan Camilo Osorio's Blog Logo"></a>
		<a id="blog" href="/">| Blog</a>
		<h1 style="display:none">Juan Camilo Osorio's Blog</h1>
		<div id="menu">
			{%if page.categoryvalue == "web" %}
			<a style="background-color:#fff" href="/web">Web</a>
			{% else %}
			<a href="/web">Web</a>
			{% endif %}
			{%if page.categoryvalue == "thought" %}
			<a style="background-color:#fff" href="/thought">Thought</a>
			{% else %}
			<a href="/thought">Thought</a>
			{% endif %}
			{%if page.categoryvalue == "code" %}
			<a style="background-color:#fff" href="/code">Code</a>
			{% else %}
			<a href="/code">Code</a>
			{% endif %}
			{%if page.categoryvalue == "slog" %}
			<a style="background-color:#fff" href="/slog" title="Logs of interesting pieces of code or events that are happening in the Computer Science program at The University of Toronto.">sLOG</a>
			{% else %}
			<a href="/slog" title="Logs of interesting pieces of code or events that are happening in the Computer Science program at The University of Toronto.">sLOG</a>
			{% endif %}
			{%if page.categoryvalue == "other" %}
			<a style="background-color:#fff" href="/other">Other</a>
			{% else %}
			<a href="/other">Other</a>
			{% endif %}
		</div>
	</div>
	<div id="wrapper">
		<div id="content">
			{% for post in site.categories[page.categoryvalue] limit:5 %}
			<div class="post">
				<div class="leftpost">
					<a href="{{ post.url }}"><div class="pdate"  title='{{ post.date | date: "%B %-d, %Y" }}'>
						<span class="pdate1">{{ post.date | date: "%d" }}</span>
						<span class="pdate2">
							{% assign m = post.date | date: "%-m" %}
							{% case m %}
								{% when '1' %}Jan
								{% when '2' %}Feb
								{% when '3' %}Mar
								{% when '4' %}Apr
								{% when '5' %}May
								{% when '6' %}Jun
								{% when '7' %}Jul
								{% when '8' %}Aug
								{% when '9' %}Sep
								{% when '10' %}Oct
								{% when '11' %}Nov
								{% when '12' %}Dec
							{% endcase %}
						</span>
					</div></a>
					<a href="/{{ post.category }}" title="View more posts on {{ post.category }}" class="ptag">{{ post.category }}</a>
				</div>
				<div class="pcontent">
					<a href="{{ post.url }}"><div class="title">{{ post.title }}</div></a>
					<div class="pcc">
						{{ post.content }}
					</div>
					<div class="pfull">
						<a class="pfull" href="{{ post.url }}">View post and comment</a>
					</div>
				</div>
			</div>
			{% endfor %}
			{% if site.categories[page.categoryvalue] == null %}
			There are no posts to show.
			{% endif %}
		</div>
		<div id="right">
			<div class="category">Recent posts</div>
			<div class="tab">
				{% for post in site.posts limit: 5 %}
				<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a><br/>
				{% endfor %}
			</div>
			<br/><br/>
			<div class="category">Follow me</div>
			<div class="tab">
				<a class="ilink" href="{{ site.url }}/feed.xml"><img src="/images/rss.png" alt=""></a>
				<a class="ilink" href="https://twitter.com/jcoc611"><img src="/images/twitter.png" alt=""></a>
			</div>	
		</div>
	</div>
</body>
</html>