---
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Juan Camilo Osorio's Blog</title>
	<link rel="apple-touch-icon" sizes="57x57" href="//static.jcoc611.com/wcon/icons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="//static.jcoc611.com/wcon/icons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="//static.jcoc611.com/wcon/icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="//static.jcoc611.com/wcon/icons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="//static.jcoc611.com/wcon/icons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="//static.jcoc611.com/wcon/icons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="//static.jcoc611.com/wcon/icons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="//static.jcoc611.com/wcon/icons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="//static.jcoc611.com/wcon/icons/apple-touch-icon-180x180.png">
	<meta name="apple-mobile-web-app-title" content="JCOC611 Blog">
	<link rel="icon" type="image/png" href="//static.jcoc611.com/wcon/icons/favicon-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="//static.jcoc611.com/wcon/icons/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="//static.jcoc611.com/wcon/icons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="//static.jcoc611.com/wcon/icons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="//static.jcoc611.com/wcon/icons/favicon-32x32.png" sizes="32x32">
	<link rel="stylesheet" href="/stylesheets/blog.css">
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
	<style type="text/css">
	.post .pcc{
		max-height:none!important;
	}
	.post .pcc:after{
		content: ""!important;
		background: none!important;
	}
	</style>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-58906916-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div id="header">
		<a href="//jcoc611.com/"><img src="/images/JCOC611.png" title="Go to Home." alt="Juan Camilo Osorio's Blog Logo"></a>
		<a id="blog" href="/">| Blog</a>
		<h1 style="display:none">Juan Camilo Osorio's Blog</h1>
		<div id="menu">
			<a href="/web">Web</a>
			<a href="/thought">Thought</a>
			<a href="/code">Code</a>
			<a href="/slog" title="Logs of interesting pieces of code or events that are happening in the Computer Science program at The University of Toronto.">sLOG</a>
			<a href="/other">Other</a>
		</div>
	</div>
	<div id="wrapper">
		<div id="content">
			<div class="post">
				<div class="leftpost">
					<a href="{{ page.url }}"><div class="pdate"  title='{{ page.date | date: "%B %-d, %Y" }}'>
						<span class="pdate1">{{ page.date | date: "%d" }}</span>
						<span class="pdate2">
							{% assign m = page.date | date: "%-m" %}
							{% case m %}
								{% when '1' %}Jan
								{% when '2' %}Feb
								{% when '3' %}Mar
								{% when '4' %}Apr
								{% when '5' %}May
								{% when '6' %}Jun
								{% when '7' %}Jul
								{% when '8' %}Aug
								{% when '9' %}Sep
								{% when '10' %}Oct
								{% when '11' %}Nov
								{% when '12' %}Dec
							{% endcase %}
						</span>
					</div></a>
					<a href="/{{ page.category }}" title="View more posts on {{ page.category }}" class="ptag">{{ page.category }}</a>
				</div>
				<div class="pcontent">
					<a href="{{ page.url }}"><div class="title">{{ page.title }}</div></a>
					<div class="pcc">
						{{ content }}
					</div>
					<hr style="margin-top: 20px;margin-bottom: 12px;">
					<div class="pshare">
						<div class="fb-share-button" data-href="{{ page.path }}" data-layout="button_count"></div> 
						<div class="g-plus" style="width:92px" data-action="share" data-annotation="bubble" data-href="{{ page.path }}"></div>
						<a href="https://twitter.com/share" class="twitter-share-button" data-via="jcoc611">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</div>
					<div class="pcomments">
						<div id="disqus_thread"></div>
						<script type="text/javascript">
						    /* * * CONFIGURATION VARIABLES * * */
						    var disqus_shortname = 'jcoc611';
						    var disqus_identifier = '{{ page.id }}';
						    var disqus_title = '{{ page.title }}';

						    /* * * DON'T EDIT BELOW THIS LINE * * */
						    (function() {
							var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
							dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
							(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						    })();
						</script>
						<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					</div>
				</div>
			</div>
		</div>
		<div id="right">
			<div class="category">Recent posts</div>
			<div class="tab">
				{% for post in site.posts limit: 5 %}
				<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a><br/>
				{% endfor %}
			</div>
			<br/><br/>
			<div class="category">Follow me</div>
			<div class="tab">
				<a class="ilink" href="{{ site.url }}/feed.xml"><img src="/images/rss.png" alt=""></a>
				<a class="ilink" href="https://twitter.com/jcoc611"><img src="/images/twitter.png" alt=""></a>
			</div>	
		</div>
	</div>
</body>
</html>